<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клейнод | рамарня | багетна майстерня | КРАМНИЦЯ</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82329311-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82329311-1');
</script>

    <meta name="description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів">
    <meta name="keywords" content="рама, оформлення, дизайн, паспарту, живопис, графіка, дзеркала, фотографії, світлини, інтер’єр, розмальовки на склі, експозиційні меблі, мольберт, Львів, frames, mouldings, design, interior, drawings, photos, painting, mirror, Lviv, Ukraine, онлайн, online">
    <meta property="og:title" content="рамарня «Клейнод» | КРАМНИЦЯ" />
    <meta property="og:description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів" />
    <meta property="og:image" content="https://shop.rama.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shop.rama.lviv.ua/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#480000">
    <meta name="apple-mobile-web-app-title" content="Клейнод">
    <meta name="application-name" content="Клейнод">
    <meta name="msapplication-TileColor" content="#480000">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
   
</head>

<body>
    <div ng-app="kleynodShop" ng-controller="kleynodShopCtrl" >
        <div style="position: relative;">
            <div class="clnd-bg-full">
            </div>
        </div>
        <div id="addedCartMsg" style="display: none;">
            <div class="grid-x align-center-middle">
                <div class="cell large-8">
                    <h5 class="uppercase text-center bold">товар додано у кошик</h5>
                </div>
            </div>
        </div>
        <!-- CART VIEW -->
        <div id="cartView" style="display: none;">
            <div ng-show="emptyCart" class="cell empty-cart dark-gold text-center">наразі кошик порожній</div>
            <div ng-repeat="order in frameCart" class="grid-x grid-padding-x align-bottom cart-order">
                <div class="cell small-7">
                    <img src="assets/img/ready-frames/{[{order.code}]}.webp" alt="">
                </div>
                <div class="cell small-5 frame-descr dark-gold">
                    <span>{[{order.objDims}]}</span>см
                    <div class="price ">
                        <span class="">{[{order.price}]}</span>грн
                    </div>
                </div>
            </div>
        </div>
        <div id="checkout">
            <a type="button" href="#!/order" ng-click="countSum()" class="brown button small cart-btn">
                <i class="fas fa-shopping-cart fa-2x"></i><span> {[{cartQuant}]}</span></a>
        </div>
        <div style="display:none;" id="thankyou_message" class=" text-center">
            <div class="grid-x align-center-middle" style="height: 100%">
                <div class="cell large-8 inner apricot-bg">
                    <h5 class="dark-gold ">Дякуємо! Замовлення прийнято<br>Незабаром ми вам зателефонуємо для уточнення деталей</h5><br>
                    <button id="thankyou-close" class=" button uppercase" data-close><i class="fas fa-times "></i>&nbsp; наздоровля!</button>
                </div>
            </div>
        </div>
        <div id="preloader" class="grid-x clnd-bg align-center-middle">
            <div class="cell" id="pre-logo">
                <img src="assets/img/main-logo-UA.svg" alt="">
            </div>
        </div>
        <div style="position: relative;">
            <div class="clnd-bg-full">
            </div>
        </div>
        <header>
            <div id="top" class="grid-x clnd-header clnd-bg align-center-middle">
                <div class="cell  small-order-3 large-order-1 large-3 text-center brown ">
                    <div class="pre">{[{data.address}]}<br>{[{data.schedule}]}</div>
                    <div class="show-for-small-only">
                        <a href="viber://add?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber" target="_blank"></i></a>
                        <a href="https://t.me/{[{data.tlgrm}]}" target="_blank"><i class="fab fa-telegram fa-2x tlgrm"></i></a>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-3 small-order-1 large-order-2 text-center">
                    <div class="main-logo ">
                        <a href="https://rama.lviv.ua/index.html">
                            <img src="assets/img/main-logo-UA.svg" alt="на головну"></a>
                    </div>
                </div>
                <div class="cell show-for-medium medium-4 small-order-2 large-order-3  large-3 text-center">
                    <a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a><br>
                    <a class="tel" href="tel://{[{data.tel2}]}"><i class="fas fa-phone-square"></i> {[{data.telView2}]}</a><br>
                    <a href="viber://chat?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a>
        <a href="https://wa.me/{[{data.wa}]}" target="_blank"><i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i></a>        </div>
            </div>
        </header>    <div ng-view ></div>
        <br><br>
        <footer class="clnd-footer">
            <div class=" footer-divider"></div>
            <div class="grid-x grid-padding-x ">
                <div class="cell medium-7 large-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.2145040214214!2d24.023537177119753!3d49.83842693124082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6e2dfcebe5%3A0xeef81c2c400ff5b4!2sMykoly%20Kopernyka%20St%2C%2020%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%2079000!5e0!3m2!1sen!2sua!4v1759846838485!5m2!1sen!2sua" width="100%" height="400" style="border:1px solid #a00;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="cell medium-5 large-3 address">
                    <p>{[{data.address}]}</p>
                    <p><a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a><br>
                        <a class="tel" href="tel://{[{data.tel2}]}"><i class="fas fa-phone-square"></i> {[{data.telView2}]}</a><br>
                        <a href="viber://add?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a>
                    <a href="https://wa.me/{[{data.wa}]}" target="_blank"><i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i></a> 
                    </p>
                    <p><a href="mailto:{[{data.email}]}"> {[{data.email}]}</a></p>
                    <p class="pre">{[{data.schedule}]}<br>Неділя — вихідний</p> <br>
                    <a href="https://www.facebook.com/{[{data.fb}]}/" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i></a>
                    <a href="https://www.instagram.com/{[{data.insta}]}/" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </footer></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="assets/js_plugins/angular-locale_uk-ua.js"></script>
    <script src="assets/js_plugins/angular-animate.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>

    
</body>

</html>