<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клейнод | рамарня | багетна майстерня | КРАМНИЦЯ</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82329311-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82329311-1');
</script>

    <meta name="description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів">
    <meta name="keywords" content="рама, оформлення, дизайн, паспарту, живопис, графіка, дзеркала, фотографії, світлини, інтер’єр, розмальовки на склі, експозиційні меблі, мольберт, Львів, frames, mouldings, design, interior, drawings, photos, painting, mirror, Lviv, Ukraine, онлайн, online">
    <meta property="og:title" content="рамарня «Клейнод» | КРАМНИЦЯ" />
    <meta property="og:description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів" />
    <meta property="og:image" content="https://shop.rama.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shop.rama.lviv.ua/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#480000">
    <meta name="apple-mobile-web-app-title" content="Клейнод">
    <meta name="application-name" content="Клейнод">
    <meta name="msapplication-TileColor" content="#480000">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
   
</head>

<body>
    <div ng-app="kleynodShop" ng-controller="kleynodShopCtrl">
        <div style="position: relative;">
            <div class="clnd-bg-full">
            </div>
        </div>
        <div id="addedCartMsg" style="display: none;">
        <div class="grid-x align-center-middle">
            <div class="cell large-8">
                <h5 class="uppercase text-center bold">товар додано у кошик</h5>
            </div>
        </div>
    </div>
    <!-- CART VIEW -->
    <div id="cartView" style="display: none;">
        <div ng-show="emptyCart" class="cell empty-cart dark-gold text-center">наразі кошик порожній</div>
        <div ng-repeat="order in frameCart" class="grid-x grid-padding-x align-bottom cart-order">
            <div class="cell small-7">
                <img src="assets/img/ready-frames/{[{order.code}]}.jpg" alt="">
            </div>
            <div class="cell small-5 frame-descr dark-gold">
                <span>{[{order.objDims}]}</span>см
                <div class="price ">
                    <span class="">{[{order.price}]}</span>грн
                </div>
            </div>
        </div>
    </div>
    
    <div id="checkout">
        <a type="button" href="#!/order" ng-click="countSum()" class="brown button small cart-btn">
            <i class="fas fa-shopping-cart fa-2x"></i><span> {[{cartQuant}]}</span></a>
    </div>
    <div style="display:none;" id="thankyou_message" class=" text-center">
        <h5 class="dark-gold ">Дякуємо! Замовлення прийнято<br>Незабаром ми вам зателефонуємо для уточнення деталей</h5><br>
        <button id="thankyou-close" class=" button uppercase" data-close><i class="fas fa-close "></i>&nbsp; наздоровля!</button>
    </div>
        <div id="preloader" class="grid-x clnd-bg align-center-middle">
            <div class="cell" id="pre-logo">
                <img src="assets/img/main-logo.svg" alt="">
            </div>
        </div>
        <div style="position: relative;">
            <div class="clnd-bg-full">
            </div>
        </div>
        <header>
            <div id="top" class="grid-x clnd-header clnd-bg align-center-middle">
                <div class="cell  small-order-3 large-order-1 large-3 text-center brown ">
                    <div class="pre">{[{data.address}]}<br>{[{data.schedule}]}</div>
                    <div class="show-for-small-only">
                        <a href="viber://add?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber" target="_blank"></i></a>
                        <a href="https://t.me/{[{data.tlgrm}]}" target="_blank"><i class="fab fa-telegram fa-2x tlgrm"></i></a>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-3 small-order-1 large-order-2 text-center">
                    <div class="main-logo ">
                        <a href="https://rama.lviv.ua/index.html">
                            <img src="assets/img/main-logo.svg" alt="на головну"></a>
                    </div>
                </div>
                <div class="cell show-for-medium medium-4 small-order-2 large-order-3  large-3 text-center">
                    <a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a><br>
                    <a class="tel" href="tel://{[{data.tel2}]}"><i class="fas fa-phone-square"></i> {[{data.telView2}]}</a><br>
                    <a class="tel" href="tel://{[{data.tel3}]}"><i class="fas fa-phone-square"></i> {[{data.telView3}]}</a><br>
                    <a href="viber://chat?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a>
                    <a href="https://t.me/{[{data.tlgrm}]}" target="_blank"><i class="fab fa-telegram fa-2x tlgrm"></i></a>
                </div>
            </div>
        </header>    <div ng-view></div>
       
        <br><br>
        <footer class="clnd-footer">
            <div class=" footer-divider"></div>
            <div class="grid-x grid-padding-x ">
                <div class="cell medium-7 large-9">
                    <div id="google-map" style="width:100%;height:400px; border:1px solid #a00"></div>
                </div>
                <div class="cell medium-5 large-3 address">
                    <p>{[{data.address}]}</p>
                    <p><a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a><br>
                        <a class="tel" href="tel://{[{data.tel2}]}"><i class="fas fa-phone-square"></i> {[{data.telView2}]}</a><br>
                        <a class="tel" href="tel://{[{data.tel3}]}"><i class="fas fa-phone-square"></i> {[{data.telView3}]}</a><br>
                        <a href="viber://add?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a>
                        <a href="https://t.me/{[{data.tlgrm}]}" target="_blank"><i class="fab fa-telegram fa-2x tlgrm"></i></a>
                    </p>
                    <p><a href="mailto:{[{data.email}]}"> {[{data.email}]}</a></p>
                    <p class="pre">{[{data.schedule}]}<br>Неділя — вихідний</p> <br>
                    <a href="https://www.facebook.com/{[{data.fb}]}/" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i></a>
                    <a href="https://www.instagram.com/{[{data.insta}]}/" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </footer>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfuN7UgfDB2RfqBeNIZ1S_rpZ6HU-GKYU"></script>
        <script>
        var myCenterLviv = new google.maps.LatLng(49.838626, 24.025951);
        
        var myPin = 'assets/img/map-pin.png';
        
        function initialize() {
            var mapPropLviv = {
                zoomControl: true,
                scrollwheel: false,
                center: myCenterLviv,
                zoom: 17,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
        
        
        
            var mapLviv = new google.maps.Map(document.getElementById("google-map"), mapPropLviv);
        
        
            var myMarker = new google.maps.Marker({
                position: myCenterLviv,
                icon: myPin,
                map: mapLviv,
                title: 'вул. Коперника,20'
            });
        
        
        }
        
        google.maps.event.addDomListener(window, 'load', initialize);
        </script></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- <script src="assets/js_plugins/angular-simple-mask.js"></script> -->

    
</body>

</html>