<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клейнод | рамарня | багетна майстерня | КРАМНИЦЯ</title>
    <meta name="description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів">
    <meta name="keywords" content="рама, оформлення, дизайн, паспарту, живопис, графіка, дзеркала, фотографії, світлини, інтер’єр, розмальовки на склі, експозиційні меблі, мольберт, Львів, frames, mouldings, design, interior, drawings, photos, painting, mirror, Lviv, Ukraine, онлайн, online">
    <meta property="og:title" content="рамарня «Клейнод» | КРАМНИЦЯ" />
    <meta property="og:description" content="Готові рами та фахова оправа творів живопису і графіки, дзеркал, світлин, документів" />
    <meta property="og:image" content="https://shop.rama.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shop.rama.lviv.ua/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div id="preloader" class="grid-x clnd-bg align-center-middle">
        <div class="cell" id="pre-logo">
            <img src="assets/img/main-logo.svg" alt="">
        </div>
    </div>
    <div style="position: relative;">
        <div class="clnd-bg-full">
        </div>
    </div>
    <!-- ADDED CART MSG -->
    <div id="addedCartMsg" style="display: none;">
        <div class="grid-x align-center-middle">
            <div class="cell large-8">
                <h5 class="uppercase text-center bold">товар додано у кошик</h5>
            </div>
        </div>
    </div>
    <div ng-app="kleynodShop" ng-controller="kleynodShopCtrl">
        <!-- CART VIEW -->
        <div id="cartView" style="display: none;">
            <div ng-show="emptyCart" class="cell empty-cart dark-gold text-center">наразі кошик порожній</div>
            <div ng-repeat="order in frameCart" class="grid-x grid-padding-x align-bottom cart-order">
                <div class="cell small-7">
                    <img src="assets/img/ready-frames/{[{data[order].code}]}.jpg" alt="">
                </div>
                <div class="cell small-5 frame-descr dark-gold">
                    <span>{[{data[order].objDims}]}</span>см
                    <div class="price ">
                        <span class="">{[{data[order].price}]}</span>грн
                    </div>
                </div>
            </div>
        </div>
        <div class="off-canvas-wrapper">
            <!--        OFF-CANVAS details -->
            <div class="off-canvas position-top" id="frameDetails" data-off-canvas data-transition="overlap"
             style="width: 94vw; margin-left: 2vw;">
                <div data-off-canvas-scrollbox class="grid-x grid-padding-x grid-padding-y" style="margin-top: 3vh;">
                    <div class="cell large-auto"></div>
                    <div class="cell large-7 wrapper">
                        <img src="assets/img/ready-frames/{[{data[selectedFrame].code}]}.jpg" alt="">
                    </div>
                    <div class="cell large-4 wrapper">
                        <div class="grid-x grid-padding-x align-left">
                            <div class="cell medium-8 large-12">
                                <img src="assets/img/ready-frames/{[{data[selectedFrame].code}]}-fragm.jpg" alt="">
                            </div>
                            <div class="cell medium-4 large-auto">
                                <div class="grid-x dark-gold align-bottom">
                                    <div class="cell large-auto frame-descr">
                                        код рами: <span>{[{data[selectedFrame].code}]}</span><br>
                                        розмір по чверті: <span>{[{data[selectedFrame].objDims}]}</span>см<br>
                                        ширина багету: <span>{[{data[selectedFrame].mWidth}]}</span>см<br>
                                        зовнішній розмір: <span>{[{data[selectedFrame].dims}]}</span>см<br>
                                    </div>
                                    <div class="cell large-shrink price">
                                        <span class="">{[{data[selectedFrame].price}]}</span><br>грн
                                    </div>
                                    <div class="cell text-center">
                                        <button ng-click="addToCart(selectedFrame)" type="button" class="brown uppercase add-to-cart button clnd-buy"><i class="fa fa-cart-plus fa-2x"></i>  купити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-x">
                        </div>
                    </div>
                    <div class="cell large-auto"></div>
                    <button class="close-button gold" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>        <!--        OFF-CANVAS order -->
            <div class="off-canvas position-bottom" id="frameOrder" data-off-canvas data-transition="overlap" style="width: 94vw; margin-left: 2vw; z-index: 10000">
                <div class="clnd-title">
                    <h3 class="uppercase brown text-center">оформлення замовлення</h3>
                </div>
                <div data-off-canvas-scrollbox class="grid-x grid-padding-x ">
                    <div class="cell medium-6 dark-gold">
                        <div ng-show="emptyCart" class="cell empty-cart uppercase dark-gold text-center">наразі кошик порожній</div>
                        <div ng-repeat="order in frameCart" class="grid-x grid-padding-x cart-order">
                            <div class="cell shrink">
                                <img src="assets/img/ready-frames/{[{data[order].code}]}.jpg" alt="">
                            </div>
                            <div class="cell auto  ">
                                <div class="frame-descr">
                                    <!-- код рами: <span name="код рами">{[{data[order].code}]}</span><br> -->
                                    розмір по чверті: <span>{[{data[order].objDims}]}</span>см<br>
                                    ширина багету: <span>{[{data[order].mWidth}]}</span>см<br>
                                    <!-- зовнішній розмір: <span>{[{data[order].dims}]}</span>см<br> -->
                                </div>
                                <div class="price">
                                    <span class="">{[{data[order].price}]}</span>грн
                                </div>
                            </div>
                            <div class="delete-item">
                                <button ng-click="deleteFromCart($index)" class="button tiny alert">
                                    <i class="fa fa-ban fa-2x"></i>
                                </button>
                            </div>
                        </div>
                        <br>
                        <h4 class=" text-right price">загальна сума: <span>{[{totalSum}]}</span> грн</h4>
                    </div>
                    <div class="cell medium-6">
                        <form id="gform" name="frameOrder" method="POST" class="" action="https://script.google.com/macros/s/AKfycbzTk1MXcnDWmccVSjUGPJBzp_7SpaRey36ebKNFRg/exec">
                         
                            <span>* обов’язкові поля</span><br><br>
                            <div class="grid-x grid-padding-x ">
                                <div class="cell  shrink ">
                                    <label class="form-sub" for="phone">ім’я* </label>
                                </div>
                                <div class="cell auto">
                                    <input type="text" id="name" name="ім’я" required>
                                </div>
                            </div>
                            <div class="grid-x grid-padding-x ">
                                <div class="cell shrink ">
                                    <label class="form-sub" for="phone">телефон* </label>
                                </div>
                                <div class="cell auto">
                                    <input type="tel" id="phone" name="телефон" value="" data-mask="(000) 000-00-00" placeholder="000 000-00-00" autocomplete="tel" required>
                                </div>
                            </div>
                            <input type="email" id="mail" name="mail" autocomplete="email" placeholder="e-mail">
                            <textarea rows="4" name="примітки" placeholder="примітки"></textarea>
                            <hr>
                            <fieldset>
                                <legend class="form-sub">доставка*</legend>
                                <input type="radio" id="deliver-self" name="delivery" value="самовивіз">
                                <label for="deliver-self">самовивіз з офісу</label><br>
                                <input type="radio" id="inputDeliveryNP" name="delivery" required value="на відділення Нової пошти">
                                <label for="inputDeliveryNP">на відділення Нової пошти:</label><br>
                                <textarea id="deliveryNP" rows="1" name="адреса НП" value="" style="display: none;" placeholder="місто/село, № відділення"></textarea>
                                <input type="radio" id="inputDeliveryAddress" name="delivery" value="на адресу Новою поштою">
                                <label for="inputDeliveryAddress">на адресу Новою поштою:</label>
                                <textarea id="deliveryAddress" rows="1" name="адреса" value="" style="display: none;" placeholder="адреса"></textarea>
                            
                            </fieldset>
                            <hr>
                            <div class="form-sub">оплата*</div>
                            <select name="оплата" required>
                                <option value="картка">на картку</option>
                                <option value="пошта">Нова пошта</option>
                                <option value="готівка">готівка при отриманні</option>
                            </select>
                            <input type="text" class=" hide" name="коди рамок" ng-value="frameCodes">
                            <input type="text" class="hide" name="сума" ng-value="totalSum">
                            <div class="text-center">
                                <input type="submit" class=" button uppercase text-center" value="надіслати">
                            </div>
                        </form>
                    </div>
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="display:none;" id="thankyou_message" class=" text-center">
                    <h5 class="dark-gold ">Дякуємо! Замовлення прийнято<br>Незабаром ми вам зателефонуємо для уточнення деталей</h5><br>
                    <button id="thankyou-close" class=" button uppercase" data-close><i class="fa fa-close "></i>&nbsp; наздоровля!</button>
                </div>
            </div>        <!-- CONTENT -->
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="grid-x ">
                    <div class="cell main-logo text-center">
                        <img src="assets/img/main-logo.svg" alt="">
                    </div>
                </div>
                <div id="checkout">
                    <button type="button" ng-click="countSum()" data-open="frameOrder" class="brown button small cart-btn">
                        <i class="fa fa-shopping-cart fa-2x"></i><span>  {[{cartQuant}]}</span></button>
                </div>
                <div class="clnd-title">
                    <h2 class="uppercase brown text-center">готові рами</h2>
                </div>
                <div class="grid-container fluid">
                    <div class="grid-x grid-margin-x  ">
                        <div class="cell carton-hole clnd-white-bg ">
                            <div class="grid-x grid-padding-x grid-padding-y align-center ">
                                <div class="cell large-9  brown text-center">
                                    <p><br>
                                        В нашій майстерні ми дотримуємось принципу безвідходного виробництва, максимально використовуючи всі матеріали та обрізки.
                                        <br>Залишки рейок багету трансформуються в рами, які ідеально підійдуть для фотографій, полотен, дзеркал, та іншого домашнього декору.
                                    </p>
                                    <p class="dark-gold bold"> Увага! Деякі рами можуть мати незначні дефекти (царапини, тріщинки тощо). <br>Це додає рамам шарму, а вам — супер доступну ціну :)
                                    </p>
                                    <p> Доставка в будь-який куточок України.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="grid-x grid-padding-x grid-padding-y align-right ">
                    <div class="cell shrink uppercase bold dark-gold">
                        <button type="button" class="button sort-btn" ng-click="sort('price')">за ціною <i class="sort-I-price fa fa-sort-amount-asc"></i></button>
                        <button type="button" class="button sort-btn" ng-click="sort('objDims')">за розміром <i class="sort-I-dim fa fa-sort-amount-asc"></i></button>
                    </div>
                </div>
                <div class="grid-x grid-padding-x  small-up-1 medium-up-2 large-up-3 xlarge-up-4" data-equalizer data-equalize-by-row="true">
                    <div class="cell" ng-repeat="frame in data | orderBy:sortKey:reverse" style="position: relative; z-index: 5">
                        <div class="card  carton-hole" data-equalizer-watch>
                            <div class="clnd-white-bg"></div>
                            <a class="frame-card" ng-click="selectFrame($index)" data-open="frameDetails">
                                <div style="overflow: hidden;">
                                    <img src="assets/img/ready-frames/{[{frame.code}]}.jpg" alt="">
                                </div>
                                <div class="card-section grid-x dark-gold  align-bottom ">
                                    <div class="cell auto frame-descr">розмір по чверті: <span>{[{frame.objDims}]}</span>см<br>
                                        ширина багету: <span>{[{frame.mWidth}]}</span>см</div>
                                    <div class="cell shrink price text-right">
                                        <span class="">{[{frame.price}]}</span><br>грн
                                    </div>
                                </div>
                            </a>
                            <div class="grid-x card-section">
                                <div class="cell text-center">
                                    <button ng-click="addToCart($index)" type="button" class="brown uppercase button carton add-to-cart clnd-bg clnd-buy">
                                        <i class="fa fa-cart-plus fa-2x"></i>
                                        <span>купити</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="grid-x">
                    <div class="cell text-center">
                        <button type="button" ng-click="countSum()" data-open="frameOrder" class="brown button clnd-buy uppercase">
                            <i class="fa fa-shopping-cart fa-2x"></i> <span>{[{cartQuant}]} | кошик</span></button>
                        <br><br><br>
                    </div>
                </div>
                <footer class="clnd-footer">
                    <div class=" footer-divider"></div>
                    <div class="grid-x grid-padding-x ">
                        <div class="cell medium-7 large-9">
                            <div id="google-map" style="width:100%;height:400px; border:1px solid #a00"></div>
                        </div>
                        <div class="cell medium-5 large-3 address">
                            
                                <p>рамарня-галерея «Клейнод»<br>
                                    Львів, вул. Коперника, 20
                                    <br><a class="tel" href="tel://+380505329482">050 53-29-482</a>
                                    <br><a class="tel" href="tel://+380322403564">032 240-35-64</a>
                                    <br>kleynod.lviv@gmail.com</p>
                                <p class="work-hours">ПН—ПТ: 10:00—18:00
                                    <br>СБ: 10:00—15:00 <br>Неділя — вихідний</p> <br>
                                <a href="https://www.facebook.com/kleynod.lviv/" target="_blank">
                                    <i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="https://www.instagram.com/kleynod_framegallery/" target="_blank"> <i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                        <!--  -->
                    </div>
                </footer>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfuN7UgfDB2RfqBeNIZ1S_rpZ6HU-GKYU"></script>
                <script>
                var myCenterLviv = new google.maps.LatLng(49.838626, 24.025951);
                
                var myPin = 'assets/img/map-pin.png';
                
                function initialize() {
                    var mapPropLviv = {
                        zoomControl: true,
                        scrollwheel: false,
                        center: myCenterLviv,
                        zoom: 17,
                        disableDefaultUI: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                
                
                
                    var mapLviv = new google.maps.Map(document.getElementById("google-map"), mapPropLviv);
                
                
                    var myMarker = new google.maps.Marker({
                        position: myCenterLviv,
                        icon: myPin,
                        map: mapLviv,
                        title: 'вул. Коперника,20'
                    });
                
                
                }
                
                google.maps.event.addDomListener(window, 'load', initialize);
                </script>        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js_plugins/jquery.mask.min.js"></script>
    <script data-cfasync="false" src="assets/js_plugins/form-submission-handler.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82329311-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>